<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This microblog was a chance to truly test out the power of Ruby on Rails as a web development tool, and for me personally, to begin devling into the vast world of web design. This app was made possible using the <a href="http://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a> and <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  This microblog you see before you, is the result.
</p>
