<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Hi there, I'm Thomas Callum Brook, an aspiring Web developer. You can check out my <a href="https://github.com/ThomasCallumBrook">GitHub here.</a>
</p>
