<footer class="footer">
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
  <h3>[TCB]<span>Microblog</span></h3>
  <ul class="social-list">
    <%= render 'static_pages/social_links' %>
  </ul>
</footer>
